### Dataset Size

In [1]:
381016 + 397232 + 368885 + 388452 + 331821 + 324512 + 365603 + 378295 + 37555

2973371

--------

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

plt.style.use("fivethirtyeight")
sns.set_style('darkgrid')

## Document: 01

In [3]:
df1 = pd.read_csv("IRAhandle_tweets_1.csv")
df1.head(3)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,9.060000e+17,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,RETWEET,Right,0,1,RightTroll

In [4]:
df1.shape

(381016, 15)

In [5]:
df1.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [6]:
df1["account_category"].value_counts()

RightTroll      128681
NonEnglish       88936
LeftTroll        81474
HashtagGamer     35204
NewsFeed         32423
Commercial       12495
Unknown            983
Fearmonger         820
Name: account_category, dtype: int64

In [7]:
df1["region"].nunique()

19

In [8]:
df1["region"].value_counts()

United States           251587
Unknown                  96063
United Arab Emirates     10204
Azerbaijan                9126
Italy                     6280
Germany                   2841
Russian Federation        1977
Ukraine                   1234
Israel                     677
United Kingdom             602
France                      51
Iraq                        17
Egypt                       10
Turkey                       9
Belarus                      8
Japan                        6
Hong Kong                    3
Serbia                       2
Austria                      1
Name: region, dtype: int64

In [9]:
df1.isnull().sum()

external_author_id         0
author                     0
content                    0
region                   318
language                   0
publish_date               0
harvested_date             0
following                  0
followers                  0
updates                    0
post_type             183766
account_type               0
new_june_2018              0
retweet                    0
account_category           0
dtype: int64

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381016 entries, 0 to 381015
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   external_author_id  381016 non-null  float64
 1   author              381016 non-null  object
 2   content             381016 non-null  object
 3   region              380698 non-null  object
 4   language            381016 non-null  object
 5   publish_date        381016 non-null  object
 6   harvested_date      381016 non-null  object
 7   following           381016 non-null  int64
 8   followers           381016 non-null  int64
 9   updates             381016 non-null  int64
 10  post_type           197250 non-null  object
 11  account_type        381016 non-null  object
 12  new_june_2018       381016 non-null  int64
 13  retweet             381016 non-null  int64
 14  account_category    381016 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 43.6+ MB

-----------

## Document: 02

In [11]:
df2 = pd.read_csv("IRAhandle_tweets_2.csv")
df2.head(3)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.685173e+09,BLMSOLDIER,Koome: This court won’t sit next week but will...,United States,English,3/7/2017 10:27,3/7/2017 10:28,694,712,4846,RETWEET,left,0,1,LeftTroll
1,1.685173e+09,BLMSOLDIER,Get Youtube promotion go viral click here to s...,United States,English,3/7/2017 10:28,3/7/2017 10:28,694,712,4847,RETWEET,left,0,1,LeftTroll
2,1.685173e+09,BLMSOLDIER,"""Affordable Care Act"" replacement breaks Trump...",United States,English,3/7/2017 10:28,3/7/2017 10:28,694,712,4848,RETWEET,left,0,1,LeftTroll

In [12]:
df2.shape

(397232, 15)

In [13]:
df2.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [14]:
df2["account_category"].value_counts()

RightTroll      135893
NewsFeed         92575
LeftTroll        62560
HashtagGamer     58978
NonEnglish       46459
Unknown            458
Fearmonger         309
Name: account_category, dtype: int64

In [15]:
df2.isnull().sum()

external_author_id         0
author                     0
content                    0
region                   964
language                   0
publish_date               0
harvested_date             0
following                  0
followers                  0
updates                    0
post_type             221232
account_type               0
new_june_2018              0
retweet                    0
account_category           0
dtype: int64

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397232 entries, 0 to 397231
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   external_author_id  397232 non-null  float64
 1   author              397232 non-null  object
 2   content             397232 non-null  object
 3   region              396268 non-null  object
 4   language            397232 non-null  object
 5   publish_date        397232 non-null  object
 6   harvested_date      397232 non-null  object
 7   following           397232 non-null  int64
 8   followers           397232 non-null  int64
 9   updates             397232 non-null  int64
 10  post_type           176000 non-null  object
 11  account_type        397232 non-null  object
 12  new_june_2018       397232 non-null  int64
 13  retweet             397232 non-null  int64
 14  account_category    397232 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 45.5+ MB

---------

## Document: 03

In [17]:
df3 = pd.read_csv("IRAhandle_tweets_3.csv")
df3.head(3)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,2.494112e+09,DAILYSANJOSE,#sports Ex-Stanford player Stanley Wilson II s...,United States,English,6/27/2016 14:39,6/27/2016 14:39,11955,13225,20394,NaN,local,1,0,NewsFeed
1,2.494112e+09,DAILYSANJOSE,The Mountain View gets ready to close its door...,United States,English,6/27/2016 14:56,6/27/2016 14:56,11955,13225,20395,NaN,local,1,0,NewsFeed
2,2.494112e+09,DAILYSANJOSE,#politics Supreme Court strikes down Texas abo...,United States,English,6/27/2016 14:59,6/27/2016 14:59,11955,13225,20396,NaN,local,1,0,NewsFeed

In [18]:
df3.shape

(368885, 15)

In [19]:
df3.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [20]:
df3["account_category"].value_counts()

Commercial      108882
RightTroll       89415
NonEnglish       71666
HashtagGamer     37272
NewsFeed         33189
LeftTroll        25832
Fearmonger        2274
Unknown            355
Name: account_category, dtype: int64

In [21]:
df3.isnull().sum()

external_author_id         4
author                     0
content                    0
region                   509
language                   0
publish_date               0
harvested_date             0
following                  0
followers                  0
updates                    0
post_type             233090
account_type               0
new_june_2018              0
retweet                    0
account_category           0
dtype: int64

In [22]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368885 entries, 0 to 368884
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   external_author_id  368881 non-null  float64
 1   author              368885 non-null  object
 2   content             368885 non-null  object
 3   region              368376 non-null  object
 4   language            368885 non-null  object
 5   publish_date        368885 non-null  object
 6   harvested_date      368885 non-null  object
 7   following           368885 non-null  int64
 8   followers           368885 non-null  int64
 9   updates             368885 non-null  int64
 10  post_type           135795 non-null  object
 11  account_type        368885 non-null  object
 12  new_june_2018       368885 non-null  int64
 13  retweet             368885 non-null  int64
 14  account_category    368885 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 42.2+ MB

------------

## Document: 04

In [23]:
df4 = pd.read_csv("IRAhandle_tweets_4.csv")
df4.head(3)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.674084e+09,GAB1ALDANA,People are too toxic. I think I have people po...,United States,English,7/30/2016 20:15,7/30/2016 20:15,3395,2014,2150,RETWEET,Hashtager,0,1,HashtagGamer
1,1.674084e+09,GAB1ALDANA,#NowPlaying Don't Shoot (I'm a Man) by @DEVO -...,United States,English,7/30/2016 20:15,7/30/2016 20:15,3395,2014,2146,RETWEET,Hashtager,0,1,HashtagGamer
2,1.674084e+09,GAB1ALDANA,the 'I'm the most boring person in the world' ...,United States,English,7/30/2016 20:16,7/30/2016 20:16,3395,2013,2159,RETWEET,Hashtager,0,1,HashtagGamer

In [24]:
df4.shape

(388452, 15)

In [25]:
df4.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [26]:
df4["account_category"].value_counts()

RightTroll      126461
LeftTroll       100252
NonEnglish       79936
NewsFeed         39754
HashtagGamer     30508
Unknown           7310
Fearmonger        3026
Commercial        1205
Name: account_category, dtype: int64

In [27]:
df4.isnull().sum()

external_author_id         0
author                     0
content                    1
region                   837
language                   0
publish_date               0
harvested_date             0
following                  0
followers                  0
updates                    0
post_type             154340
account_type             302
new_june_2018              0
retweet                    0
account_category           0
dtype: int64

In [28]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388452 entries, 0 to 388451
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   external_author_id  388452 non-null  float64
 1   author              388452 non-null  object
 2   content             388451 non-null  object
 3   region              387615 non-null  object
 4   language            388452 non-null  object
 5   publish_date        388452 non-null  object
 6   harvested_date      388452 non-null  object
 7   following           388452 non-null  int64
 8   followers           388452 non-null  int64
 9   updates             388452 non-null  int64
 10  post_type           234112 non-null  object
 11  account_type        388150 non-null  object
 12  new_june_2018       388452 non-null  int64
 13  retweet             388452 non-null  int64
 14  account_category    388452 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 44.5+ MB

--------------

## Document: 05

In [29]:
df5 = pd.read_csv("IRAhandle_tweets_5.csv")
df5.head(3)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,4.484290e+09,KATHERINESKS,#Trump ist ein Rassist. #WirliebenTrump�,Germany,German,6/16/2016 10:41,6/16/2016 10:41,207,18,48,RETWEET,German,0,1,NonEnglish
1,4.484290e+09,KATHERINESKS,#WirLiebenTrump Trump versucht nicht zu gewinn...,Germany,German,6/16/2016 10:41,6/16/2016 10:42,207,18,59,RETWEET,German,0,1,NonEnglish
2,4.484290e+09,KATHERINESKS,#WirLiebenTrump Migration kann nicht sein Prob...,Germany,German,6/16/2016 10:41,6/16/2016 10:41,207,18,58,RETWEET,German,0,1,NonEnglish

In [30]:
df5.shape

(331821, 15)

In [31]:
df5.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [32]:
df5["account_category"].value_counts()

NonEnglish      168587
RightTroll       75550
LeftTroll        40511
HashtagGamer     32248
NewsFeed         11957
Unknown           1748
Fearmonger        1220
Name: account_category, dtype: int64

In [33]:
df5.isnull().sum()

external_author_id         0
author                     0
content                    0
region                  1577
language                   0
publish_date               0
harvested_date             0
following                  0
followers                  0
updates                    0
post_type             137157
account_type               0
new_june_2018              0
retweet                    0
account_category           0
dtype: int64

In [34]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331821 entries, 0 to 331820
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   external_author_id  331821 non-null  float64
 1   author              331821 non-null  object
 2   content             331821 non-null  object
 3   region              330244 non-null  object
 4   language            331821 non-null  object
 5   publish_date        331821 non-null  object
 6   harvested_date      331821 non-null  object
 7   following           331821 non-null  int64
 8   followers           331821 non-null  int64
 9   updates             331821 non-null  int64
 10  post_type           194664 non-null  object
 11  account_type        331821 non-null  object
 12  new_june_2018       331821 non-null  int64
 13  retweet             331821 non-null  int64
 14  account_category    331821 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 38.0+ MB

----------

## Document: 06

In [35]:
df6 = pd.read_csv("IRAhandle_tweets_6.csv")
df6.head(3)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.930748e+09,NEVNOV_RU,«ДТП с самим собой» может устроить себе каждый...,United Arab Emirates,Russian,6/30/2015 6:32,6/30/2015 6:32,115,13435,16364,NaN,Russian,0,0,NonEnglish
1,1.930748e+09,NEVNOV_RU,Кержаков: Я извинился перед Виллаш-Боашем и ск...,United Arab Emirates,Russian,6/30/2015 9:32,6/30/2015 9:32,115,13435,16370,NaN,Russian,0,0,NonEnglish
2,1.930748e+09,NEVNOV_RU,Бесплатная прачечная с душем появится в Петерб...,United States,Russian,6/30/2016 11:24,6/30/2016 11:27,17237,24956,28528,NaN,Russian,0,0,NonEnglish

In [36]:
df6.shape

(324512, 15)

In [37]:
df6.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [38]:
df6["account_category"].value_counts()

NonEnglish      152850
NewsFeed         98951
RightTroll       37843
LeftTroll        29476
HashtagGamer      4502
Unknown            612
Fearmonger         278
Name: account_category, dtype: int64

In [39]:
df6.isnull().sum()

external_author_id         0
author                     0
content                    0
region                  2791
language                   0
publish_date               0
harvested_date             0
following                  0
followers                  0
updates                    0
post_type             244188
account_type               0
new_june_2018              0
retweet                    0
account_category           0
dtype: int64

In [40]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324512 entries, 0 to 324511
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   external_author_id  324512 non-null  float64
 1   author              324512 non-null  object
 2   content             324512 non-null  object
 3   region              321721 non-null  object
 4   language            324512 non-null  object
 5   publish_date        324512 non-null  object
 6   harvested_date      324512 non-null  object
 7   following           324512 non-null  int64
 8   followers           324512 non-null  int64
 9   updates             324512 non-null  int64
 10  post_type           80324 non-null   object
 11  account_type        324512 non-null  object
 12  new_june_2018       324512 non-null  int64
 13  retweet             324512 non-null  int64
 14  account_category    324512 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 37.1+ MB

--------

## Document: 07

In [41]:
df7 = pd.read_csv("IRAhandle_tweets_7.csv")
df7.head(3)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,2.260338e+09,POLITICS_T0DAY,https://t.co/MCN0zjJ9Bw https://t.co/0Ym2ssnxzy,United States,Russian,4/14/2017 23:02,4/14/2017 23:02,161,1079,24010,NaN,Russian,0,0,NonEnglish
1,2.260338e+09,POLITICS_T0DAY,https://t.co/TFIDNR5Dfi https://t.co/wHD4hvmYIg,United States,Russian,4/14/2017 2:02,4/14/2017 2:02,161,1079,23986,NaN,Russian,0,0,NonEnglish
2,2.260338e+09,POLITICS_T0DAY,"Доброе утро, Россия! https://t.co/pNKO5brIsL h...",United States,Russian,4/14/2017 3:02,4/14/2017 3:02,160,1079,23987,NaN,Russian,0,0,NonEnglish

In [42]:
df7.shape

(365603, 15)

In [43]:
df7.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [44]:
df7["account_category"].value_counts()

NewsFeed        151771
NonEnglish      119849
LeftTroll        42069
RightTroll       39732
HashtagGamer      8785
Fearmonger        1847
Unknown           1550
Name: account_category, dtype: int64

In [45]:
df7.isnull().sum()

external_author_id         0
author                     0
content                    0
region                  1057
language                   0
publish_date               0
harvested_date             0
following                  0
followers                  0
updates                    0
post_type             237065
account_type               0
new_june_2018              0
retweet                    0
account_category           0
dtype: int64

In [46]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365603 entries, 0 to 365602
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   external_author_id  365603 non-null  float64
 1   author              365603 non-null  object
 2   content             365603 non-null  object
 3   region              364546 non-null  object
 4   language            365603 non-null  object
 5   publish_date        365603 non-null  object
 6   harvested_date      365603 non-null  object
 7   following           365603 non-null  int64
 8   followers           365603 non-null  int64
 9   updates             365603 non-null  int64
 10  post_type           128538 non-null  object
 11  account_type        365603 non-null  object
 12  new_june_2018       365603 non-null  int64
 13  retweet             365603 non-null  int64
 14  account_category    365603 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 41.8+ MB

----------

## Document: 08

In [47]:
df8 = pd.read_csv("IRAhandle_tweets_8.csv")
df8.head(3)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.651693e+09,STAYWOKE88,#Illinois Dairy #Queen Franchisee Loses Store ...,United States,English,1/10/2017 0:43,1/10/2017 0:44,549,465,3574,RETWEET,left,0,1,LeftTroll
1,1.651693e+09,STAYWOKE88,#NoEthicsNoHearing https://t.co/q8suwAO2sB,United States,English,1/10/2017 0:44,1/10/2017 0:44,549,465,3575,RETWEET,left,0,1,LeftTroll
2,1.651693e+09,STAYWOKE88,Progressive narratives about what’s driving ma...,United States,English,1/10/2017 12:50,1/10/2017 12:51,549,466,3594,RETWEET,left,0,1,LeftTroll

In [48]:
df8.shape

(378295, 15)

In [49]:
df8.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [50]:
df8["account_category"].value_counts()

NewsFeed        138674
NonEnglish       86861
RightTroll       79602
LeftTroll        36749
HashtagGamer     34330
Fearmonger        1215
Unknown            864
Name: account_category, dtype: int64

In [51]:
df8.isnull().sum()

external_author_id         0
author                     0
content                    0
region                   721
language                   0
publish_date               0
harvested_date             0
following                  0
followers                  0
updates                    0
post_type             243092
account_type              61
new_june_2018              0
retweet                    0
account_category           0
dtype: int64

In [52]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378295 entries, 0 to 378294
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   external_author_id  378295 non-null  float64
 1   author              378295 non-null  object
 2   content             378295 non-null  object
 3   region              377574 non-null  object
 4   language            378295 non-null  object
 5   publish_date        378295 non-null  object
 6   harvested_date      378295 non-null  object
 7   following           378295 non-null  int64
 8   followers           378295 non-null  int64
 9   updates             378295 non-null  int64
 10  post_type           135203 non-null  object
 11  account_type        378234 non-null  object
 12  new_june_2018       378295 non-null  int64
 13  retweet             378295 non-null  int64
 14  account_category    378295 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 43.3+ MB

----------

## Document: 09

In [53]:
df9 = pd.read_csv("IRAhandle_tweets_9.csv")
df9.head(3)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.513801e+09,YOUJUSTCTRLC,I went to Homegoods to get a table runner and ...,United States,English,1/8/2017 1:57,1/8/2017 1:57,2655,2724,3015,RETWEET,left,0,1,LeftTroll
1,1.513801e+09,YOUJUSTCTRLC,"The education of the masses, which should begi...",United States,English,1/8/2017 1:57,1/8/2017 1:57,2655,2724,3014,RETWEET,left,0,1,LeftTroll
2,1.513801e+09,YOUJUSTCTRLC,#SciFiSunday: Interview With Fantasy Writer Ab...,United States,English,1/8/2017 20:02,1/8/2017 20:02,2657,2725,3024,RETWEET,left,0,1,LeftTroll

In [54]:
df9.shape

(37555, 15)

In [55]:
df9.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [56]:
df9["account_category"].value_counts()

NonEnglish    22581
LeftTroll      8888
RightTroll     5910
Fearmonger      151
Unknown          25
Name: account_category, dtype: int64

In [57]:
df9.isnull().sum()

external_author_id       0
author                   0
content                  0
region                  69
language                 0
publish_date             0
harvested_date           0
following                0
followers                0
updates                  0
post_type             8495
account_type             0
new_june_2018            0
retweet                  0
account_category         0
dtype: int64

In [58]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37555 entries, 0 to 37554
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   external_author_id  37555 non-null  float64
 1   author              37555 non-null  object
 2   content             37555 non-null  object
 3   region              37486 non-null  object
 4   language            37555 non-null  object
 5   publish_date        37555 non-null  object
 6   harvested_date      37555 non-null  object
 7   following           37555 non-null  int64
 8   followers           37555 non-null  int64
 9   updates             37555 non-null  int64
 10  post_type           29060 non-null  object
 11  account_type        37555 non-null  object
 12  new_june_2018       37555 non-null  int64
 13  retweet             37555 non-null  int64
 14  account_category    37555 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 4.3+ MB

------------

In [59]:
display(df1.columns)
display(df2.columns)
display(df3.columns)
display(df4.columns)
display(df5.columns)
display(df6.columns)
display(df7.columns)
display(df8.columns)
display(df9.columns)

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

------

In [69]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9], axis=0)
df.head(3)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,1.685173e+09,BLMSOLDIER,Koome: This court won’t sit next week but will...,United States,English,3/7/2017 10:27,3/7/2017 10:28,694,712,4846,RETWEET,left,0,1,LeftTroll
1,1.685173e+09,BLMSOLDIER,Get Youtube promotion go viral click here to s...,United States,English,3/7/2017 10:28,3/7/2017 10:28,694,712,4847,RETWEET,left,0,1,LeftTroll
2,1.685173e+09,BLMSOLDIER,"""Affordable Care Act"" replacement breaks Trump...",United States,English,3/7/2017 10:28,3/7/2017 10:28,694,712,4848,RETWEET,left,0,1,LeftTroll

In [70]:
df.shape

(2989587, 15)

In [60]:
dfa = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9],ignore_index=True)
dfa.head(3)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,9.060000e+17,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,RETWEET,Right,0,1,RightTroll

In [61]:
dfa.shape

(2973371, 15)

In [62]:
2989587 - 2973371

16216

In [65]:
dfa.iloc[381015:381020]

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
381015,1.685173e+09,BLMSOLDIER,Retweeted Citizen TV Kenya (@citizentvkenya): ...,United States,English,3/7/2017 10:27,3/7/2017 10:27,694,712,4845,RETWEET,left,0,1,LeftTroll
0,1.685173e+09,BLMSOLDIER,Koome: This court won’t sit next week but will...,United States,English,3/7/2017 10:27,3/7/2017 10:28,694,712,4846,RETWEET,left,0,1,LeftTroll
1,1.685173e+09,BLMSOLDIER,Get Youtube promotion go viral click here to s...,United States,English,3/7/2017 10:28,3/7/2017 10:28,694,712,4847,RETWEET,left,0,1,LeftTroll
2,1.685173e+09,BLMSOLDIER,"""Affordable Care Act"" replacement breaks Trump...",United States,English,3/7/2017 10:28,3/7/2017 10:28,694,712,4848,RETWEET,left,0,1,LeftTroll
3,1.685173e+09,BLMSOLDIER,'@GeorgeJolly9 oh you know she is dead ass ser...,United States,English,3/7/2017 15:30,3/7/2017 15:31,694,711,4852,RETWEET,left,0,1,LeftTroll